@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Application Roles";
}
<div class="card content-height">
    <div class="card-header">
        <div class="d-flex justify-content-between m-3">
            <h4>View Roles</h4>
        </div>
    </div>
    <div class="card-body overflow-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.Id)</th>

                    <th>@Html.DisplayNameFor(model=>model.Name)</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                        <td>@Html.DisplayFor(modelItem=>item.Name)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
