@model IEnumerable<PetCenter9.Models.Vaccines>

@{
    ViewData["Title"] = "Index";
}

<div class="card content-height">
    <div class="card-header">
        <div class="d-flex justify-content-between m-3">
            <h4>Vaccine Member</h4>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </div>
    </div>
    <div class="card-body overflow-auto">
        <div class="card-body overflow-auto">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-center">
                            No.
                        </th>
                        <th class="text-center">
                            Vaccine
                        </th>
                        
                        <th></th>   
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td class="text-center">
                                @count
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            

                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.VaccinesId" class="btn btn-outline-primary">Edit & Add Pets</a>
                                <a asp-action="Details" asp-route-id="@item.VaccinesId" class="btn btn-outline-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.VaccinesId" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>



















